html {
  background-color: black; 
}
#main_container {
  /*background-color: black;*/
  width: 600px;
  height: 360px;
  position: absolute;
  top: 5px;
  left: 5px;
}
canvas {
  background-image: url('/assets/images/ground.jpg');
  background-position: 100% 0;
  background-repeat: repeat-x;
  width: 600px;
  height: 360px;
  top: 0;
  left: 0;
  border: 1px solid #FFFFFF;
  z-index: 1;
  position: absolute;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: parallax 2s linear infinite;
}

@-webkit-keyframes parallax {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 100%;
  }
}