
canvas {
  background-image: url('../assets/images/ground.png');
  background-position: 100% 0;
  background-repeat: repeat-x;
  top: 0;
  left: 0;
  background-color: black;
  border: 1px solid red;
  z-index: 1;
  position: absolute;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: parallax 1s linear infinite;
}

@-webkit-keyframes parallax {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 100%;
  }
}